.transitionHistory {
    display: flex;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 1em;
    overflow-x: scroll;
    z-index: 2;
}

.transitionHistory .historyEntry {
    position: relative;
    flex: 0 0 auto;
    text-align: center;
    padding: 12px 30px;
    margin-bottom: 6px;
    margin-right: 6px;
    color: #000;
}

.transitionHistory .historyEntry:before,.historyEntry:after {
    background: #737373;
}
.transitionHistory .historyEntry:hover:before,.historyEntry:hover:after {
    background: #a6a6a6;
}

.transitionHistory .historyEntry.success:before,.historyEntry.success:after {
    background: #45803b;
}
.transitionHistory .historyEntry.success:hover:before,.historyEntry.success:hover:after {
    background: #19a600;
}


.transitionHistory .historyEntry.error:before,.historyEntry.error:after {
    background: #bf1f1d;
}
.transitionHistory .historyEntry.error:hover:before,.historyEntry.error:hover:after {
    background: #e62622;
}


.transitionHistory .historyEntry.ignored:before,.historyEntry.ignored:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.ignored:hover:before,.historyEntry.ignored:hover:after {
    background: #ff9808;
}

.transitionHistory .historyEntry.redirected:before,.historyEntry.redirected:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.redirected:hover:before,.historyEntry.redirected:hover:after {
    background: #ff9808;
}


.transitionHistory .historyEntry:before,.historyEntry:after {
    content: '';
    position: absolute;
    background: darkgrey;
    left: 0;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    z-index: -1;
}

.transitionHistory .historyEntry:before {
    top: 0;
    border-bottom: 0;
    -webkit-transform: skew(40deg, 0deg);
    -ms-transform: skew(40deg, 0deg);
    transform: skew(40deg, 0deg);
}

.transitionHistory .historyEntry:after {
    bottom: 0;
    border-top: 0;
    -webkit-transform: skew(-40deg, 0deg);
    -ms-transform: skew(-40deg, 0deg);
    transform: skew(-40deg, 0deg);
}

.transitionDetail {
    background: white;
    border: 1px solid lightgrey;
    padding: 1em 1em 0 1em;
    font-size: small;
    min-height: 10em;
}

.transitionDetail .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}


.transitionDetail .header .stateName {
    color: lightgrey;
    font-size: x-small;
}


.historyEntry .summary {
    color: white;
    white-space: nowrap;
    font-size: small;
}

.historyEntry .summary .transid {
    position: absolute;
    top: 0.1em;
    left: 0.85em;
    font-size: smaller;
}

.historyEntry .summary .status {
    position: absolute;
    bottom: 0.1em;
    left: 0.85em;
    font-size: smaller;
}
.historyEntry .summary .transname {
    font-weight: bold;
}