.transitionHistory {
    display: flex;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 1em;
    overflow-x: scroll;
    z-index: 2;
}

.transitionHistory .historyEntry {
    position: relative;
    flex: 0 0 auto;
    text-align: center;
    padding: 12px 30px;
    margin-bottom: 6px;
    margin-right: 6px;
    color: #000;
}

.transitionHistory .historyEntry:before,.historyEntry:after {
    background: #737373;
}
.transitionHistory .historyEntry:hover:before,.historyEntry:hover:after {
    background: #a6a6a6;
}

.transitionHistory .historyEntry.success:before,.historyEntry.success:after {
    background: #45803b;
}
.transitionHistory .historyEntry.success:hover:before,.historyEntry.success:hover:after {
    background: #19a600;
}


.transitionHistory .historyEntry.error:before,.historyEntry.error:after {
    background: #bf1f1d;
}
.transitionHistory .historyEntry.error:hover:before,.historyEntry.error:hover:after {
    background: #e62622;
}


.transitionHistory .historyEntry.ignored:before,.historyEntry.ignored:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.ignored:hover:before,.historyEntry.ignored:hover:after {
    background: #ff9808;
}

.transitionHistory .historyEntry.redirected:before,.historyEntry.redirected:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.redirected:hover:before,.historyEntry.redirected:hover:after {
    background: #ff9808;
}


.transitionHistory .historyEntry:before,.historyEntry:after {
    content: '';
    position: absolute;
    background: darkgrey;
    left: 0;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    z-index: -1;
}

.transitionHistory .historyEntry:before {
    top: 0;
    border-bottom: 0;
    -webkit-transform: skew(40deg, 0deg);
    -ms-transform: skew(40deg, 0deg);
    transform: skew(40deg, 0deg);
}

.transitionHistory .historyEntry:after {
    bottom: 0;
    border-top: 0;
    -webkit-transform: skew(-40deg, 0deg);
    -ms-transform: skew(-40deg, 0deg);
    transform: skew(-40deg, 0deg);
}

.transitionDetail {
    border: 1px solid lightgrey;
    font-size: small;
}

.transitionDetail .panel-heading {
    text-align: center;
}

.transitionDetail table {
    border-collapse: collapse;
}

.transitionDetail th {
    text-align: center;
    font-size: small;
}

.transitionDetail .header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: baseline;
}


.transitionDetail table.paths td {
    color: white;
    padding: 0.1em 0.5em !important;
    border: 0;
    font-size: small;
    min-width: 10em;
}

.transitionDetail.expand table.paths td {
    border: 5px solid white;
}

.transitionDetail table.summary td {
    font-size: small;
    vertical-align: top;
}

.transitionDetail table.summary td:nth-child(1) {
    white-space: nowrap;
}

.transitionDetail table.summary td:nth-child(2) {
    font-weight: bold;
    padding-left: 1em;
}


.transitionDetail td.retain {
    background-color: #737273;
}

.transitionDetail td.exit {
    background-color: #590e0e;
}

.transitionDetail td.enter {
    background-color: #31592a;
}

.transitionDetail .deemphasize {
    color: lightgrey;
    font-size: x-small;
}

.transitionDetail .params {
    background-color: rgba(255,255,255,0.2);
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 0;
    overflow: hidden;
    transition: max-height, opacity 0.75s ease;
    max-height: 0;
    margin-top: 0.25em;
}

.transitionDetail.expand .params {
    padding: 0.5em;
    max-height: 300px;
}

.transitionDetail .paramslabel {
    float: right;
    margin-top: -0.5em;
}

.transitionDetail .statename {
    font-weight: bolder;
    margin-right: 1em;
}

.transitionDetail .nowrap {
    white-space: nowrap;
}

.transitionDetail .paramid {
    font-weight: bolder;
    color: white;
}

.transitionDetail .paramvalue {
    color: #e6e6e6;
}

.historyEntry .summary {
    color: white;
    white-space: nowrap;
    font-size: small;
}

.historyEntry .summary .transid {
    position: absolute;
    top: 0.1em;
    left: 0.85em;
    font-size: smaller;
}

.historyEntry .summary .status {
    position: absolute;
    bottom: 0.1em;
    left: 0.85em;
    font-size: smaller;
}
.historyEntry .summary .transname {
    font-weight: bold;
}


span.link {
    cursor: pointer;
    text-decoration: underline;
}