/*
    .transitionHistory is the breadcrumbs and transition details block.
    It fills the footer of the screen, and scrolls horizontally.
    Mouse clicks should pass through to the elements underneath.
*/

.transitionHistory {
    display: flex;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 1em;
    overflow-x: scroll;
    z-index: 2;
    /* disable mouse clicks, hover, etc, for the overall div */
    pointer-events: none;
}

.transitionHistory * {
    /* Enable mouse for any sub-elements (the breadcrumb elemetns and detail elements) */
    pointer-events: all;
    flex: 0 0 auto;
}

/*  workaround for modal screen, and chrome and safari not allowing it to be
    visible outside the .transitionHistory overflow while the .transitionHistory div is scrolled */
.fullScreen .transitionHistory {
    top: 0;
}

/* A single history entry (breadcrumb) arrow looking thing */
.transitionHistory .historyEntry {
    position: relative;
    text-align: center;
    padding: 12px 30px;
    margin-bottom: 6px;
    margin-right: 6px;
    color: #000;
}


/* History entry arrow CSS */
.transitionHistory .historyEntry:before,.historyEntry:after {
    content: '';
    position: absolute;
    background: darkgrey;
    left: 0;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    z-index: -1;
}

.transitionHistory .historyEntry:before {
    top: 0;
    border-bottom: 0;
    -webkit-transform: skew(40deg, 0deg);
    -ms-transform: skew(40deg, 0deg);
    transform: skew(40deg, 0deg);
}

.transitionHistory .historyEntry:after {
    bottom: 0;
    border-top: 0;
    -webkit-transform: skew(-40deg, 0deg);
    -ms-transform: skew(-40deg, 0deg);
    transform: skew(-40deg, 0deg);
}

/*.historyEntry::before height: 51% (|| ::after) */

/* Styling for breadcrumb contents */
.historyEntry .summary {
    color: white;
    white-space: nowrap;
    font-size: small;
}

.historyEntry .summary .transid {
    position: absolute;
    top: 0.1em;
    left: 0.85em;
    font-size: smaller;
}

.historyEntry .summary .status {
    position: absolute;
    bottom: 0.1em;
    left: 0.85em;
    font-size: smaller;
}
.historyEntry .summary .transname {
    font-weight: bold;
}

/* breadcrumb/history entry color coding */
.transitionHistory .historyEntry:before,.historyEntry:after {
    background: #737373;
}
.transitionHistory .historyEntry:hover:before,.historyEntry:hover:after {
    background: #a6a6a6;
}

.transitionHistory .historyEntry.success:before,.historyEntry.success:after {
    background: #45803b;
}
.transitionHistory .historyEntry.success:hover:before,.historyEntry.success:hover:after {
    background: #19a600;
}


.transitionHistory .historyEntry.error:before,.historyEntry.error:after {
    background: #bf1f1d;
}
.transitionHistory .historyEntry.error:hover:before,.historyEntry.error:hover:after {
    background: #e62622;
}


.transitionHistory .historyEntry.ignored:before,.historyEntry.ignored:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.ignored:hover:before,.historyEntry.ignored:hover:after {
    background: #ff9808;
}

.transitionHistory .historyEntry.redirected:before,.historyEntry.redirected:after {
    background: #e68b05;
}
.transitionHistory .historyEntry.redirected:hover:before,.historyEntry.redirected:hover:after {
    background: #ff9808;
}

.transitionHistory .keyvalue {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}







/* The transition detail popover (when hovering over a breadcrumb) */
.transitionDetail {
    border: 1px solid lightgrey;
    font-size: small;
    transition: box-shadow 0.5s ease,  border 1.0s ease
}

/* Pointer element points from the transitionDetail to the breadcrumb */
.transitionDetail .downArrow {
    position: relative;
    width: 100%;
    bottom: -10px;
    margin-bottom: 10px;
}

.transitionDetail .downArrow:before, .transitionDetail .downArrow:after {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}

.transitionDetail .downArrow:before {
    border-top: 10px solid lightgray;
}

.transitionDetail .downArrow:after{
    border-top: 10px solid white;
    margin-top: -1px;
    z-index: 1;
}


/* The layout and styling of the transition detail popover */
.transitionDetail .panel-heading {
    text-align: center;
}

.transitionDetail table {
    border-collapse: collapse;
}

.transitionDetail th {
    text-align: center;
    font-size: small;
}

.transitionDetail .header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.transitionDetail .panel-heading.header > button {
    flex: 0 1 auto;
    transition: transform 0.5s ease;
}
.transitionDetail .panel-heading.header > button:hover i {
    flex: 0 1 auto;
    transition: all 0.5s ease;
}

.fa-thumb-tack.fa-rotate-45 {
    color: lightgray;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.transitionDetail table.paths td {
    color: white;
    padding: 0.1em 0.5em !important;
    border: 0;
    font-size: small;
    min-width: 10em;
}


.transitionDetail .summary .keyvalue {
    justify-content: flex-start !important;
    align-items: baseline;
}

.transitionDetail .summary .keyvalue > div:nth-child(2){
    padding-left: 0.5em;
    font-weight: normal;
}


.transitionDetail table.summary {
    max-width: 400px;
}

.transitionDetail table.summary td {
    font-size: small;
    vertical-align: top;
}

.transitionDetail table.summary td:nth-child(1) {
    white-space: nowrap;
}

.transitionDetail table.summary td:nth-child(2) {
    font-weight: bold;
    padding-left: 1em;
}

/* color code path elements by retained/exited/entered */
.transitionDetail td.retain {
    background-color: #737273;
}

.transitionDetail td.exit {
    background-color: #7c1010;
}

.transitionDetail td.enter {
    background-color: #31592a;
}

.transitionDetail .deemphasize {
    color: #eaeaea;
    font-size: x-small;
}

/* Styling for parameter values and resolve values */
.transitionDetail .params {
    background-color: rgba(255,255,255,0.15);
    padding: 0;
    opacity: 0;
    overflow: hidden;
    transition: padding 0.25s ease, max-height 0.25s ease,max-width 0.25s ease, opacity 1s ease;
    max-height: 0;
    max-width: 150px;
}

.transitionDetail.expand .params {
    display: block;
    border-radius: 4px;
    box-shadow: 1px 1px 2px black;
    padding: 0.5em;
    max-height: 250px;
    max-width: 300px;
    overflow-y: auto;
    opacity: 1;
    margin: 0.5em 0;
}

.transitionDetail.pin {
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    border: 1px solid black;
}

.transitionDetail.pin .downArrow:before {
    border-top-color: black;
}


/* When showing expanded details, put space between path elements */
.transitionDetail.expand table.paths td {
    border: 5px solid white;
    max-height: 100px;
    vertical-align: top;
}



.transitionDetail .statename {
    font-weight: bolder;
    margin-right: 1em;
}

.transitionDetail .nowrap {
    white-space: nowrap;
}

.transitionHistory .paramid {
    font-weight: bolder;
    color: #eaeaea;
    margin-right: 0.5em;
}

.transitionHistory .paramslabel {
    color: white;
    margin-top: -0.5em;
    text-align: center;
    font-weight: bold;
}

.transitionHistory .resolvelabel {
    color: white;
    margin-top: -0.5em;
    text-align: center;
    font-weight: bold;
}

.transitionHistory .paramvalue {
    color: #e6e6e6;
}



span.link {
    cursor: pointer;
    text-decoration: underline;
}


.tooltip-right {
    display: inline;
    position: relative;
    transition: all 1.5s ease;
}

.tooltip-right:after {
    color: rgba(0,0,0,0);
    text-decoration: none;
    transition: all 1.5s ease;
}

.tooltip-right:hover:after {
    bottom: 0;
    color: rgba(0,0,0,0.5);
    content: attr(title);
    display: block;
    position: absolute;
    white-space: nowrap;
    font-size: smaller;
}

.fa.tooltip-right:after {
    left: 1.5em;
}
