.uirStateVisContainer {
    z-index: 2;
    position: fixed;
    right: 2em;
    bottom: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1);
    transform-origin: right bottom;
    transition: right 0.5s ease-in, bottom 0.5s ease-in, transform 0.5s ease-in;
}

.uirStateVisContainer.minimized {
    cursor: pointer;
    transform: scale(0.25);
}

.statevis {
    transition: all 1s ease;
}

.statevis circle {
    r: 10;
    fill: #fff;
    stroke: grey;
    stroke-width: 3px;

    transition-property: r, fill, stroke, stroke-width;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

.statevis circle.entered {
    r: 10;
    stroke: black;
    stroke-width: 3px;
    fill: lightgreen;
}

.statevis circle.entered:after {
    content: "<text>Entered</text>"
}

.statevis circle.active {
    r: 15;
    fill: green;
    stroke: black;
    stroke-width: 3px;
}

.statevis text {
    font: 12px sans-serif;
}

.statevis .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.statevis text.label {
    fill: grey;
    font-size: 0.7em;
}


.draggable {
    cursor: move;
}

.draggable:hover {
    outline: 3px solid rgba(0,0,0,0.15)
}