.statevis {
    transition: all 1s ease;
}

.statevis circle {
    r: 10;
    fill: #fff;
    stroke: grey;
    stroke-width: 3px;

    transition-property: r, fill, stroke, stroke-width;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

.statevis circle.entered {
    r: 10;
    stroke: black;
    stroke-width: 3px;
    fill: lightgreen;
}

.statevis circle.entered:after {
    content: "<text>Entered</text>"
}

.statevis circle.active {
    r: 15;
    fill: green;
    stroke: black;
    stroke-width: 3px;
}

.statevis text {
    font: 12px sans-serif;
}

.statevis .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.statevis text.label {
    fill: grey;
    font-size: 0.7em;
}


.draggable {
    cursor: move;
}

.draggable:hover {
    outline: 3px solid rgba(0,0,0,0.15)
}