.flex-h {
    display: flex;
    flex-flow: row wrap;
}

.flex-h * {
    flex: 1 1;
}



/* my messages */

.my-messages {
    width: 100%;
    display: flex;
}

.my-messages .folderlist {
    flex: 0 0 auto;
    background-color: #DDD;
    padding: 1em 0;
}




/* folder list */
.folder a {
    display: block;
    padding: 0 1.5em;
}
.folder.selected {
    background-color: cornflowerblue;
}
.folder.selected a {
    color: white;
}
.folder i.fa {
    width: 1.35em;
}
.folder.selected i.fa:before {
    content: "\f115";
}
.folder:not(.selected) i.fa:before {
    content: "\f114";
}

.ellipsis {
    text-overflow: ellipsis;
}




/* message list */

.messagelist {
    flex: 1 0 12em;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.messagelist table {
    table-layout: fixed;
    max-height:300px;
    width:100%;
}

.messagelist thead td {
    font-weight: bold;
}

.messagelist thead td.st-sort-ascent:after {
    content: " \f0de";
    font-family: "FontAwesome";
}

.messagelist thead td.st-sort-descent:after {
    content: " \f0dd";
    font-family: "FontAwesome";
}

.messagelist table td {
    padding: 0.25em 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    cursor: default;
}

.messagelist table tr.active {
    background-color: cornflowerblue;
    color: white;
}

.messagelist table td:nth-child(1){ width: 1.75em; }
.messagelist table td:nth-child(2){ width: 12%; }
.messagelist table td:nth-child(3){ width: 17%; }
.messagelist table td:nth-child(4){ width: 52%; }
.messagelist table td:nth-child(5){ width: 15%; }

.messagelist thead tr:first-child {
    /*position:absolute;*/
}

.messagelist tbody tr:first-child td{
    /*padding-top:28px;*/
}




/* message content */

.message .header,.body {
    padding: 1em 2em;
}

.message .header {
    background-color: darkgray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}


.message .header .line2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


.compose .header label {
    padding: 0 1em;
    flex: 0 0 6em;
}

.compose .body {
    background-color: lightgray;
    height: 100%;
}
.compose .body textarea {
    width: 100%;
    border: 0;
    outline: 0;
}

.compose .body .buttons {
    padding: 1em 0;
    float: right;
}